<body>
<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Categories</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li ng-class="{'active': active=='topic'}" ng-click="active='topic'">
                                <a href="#category" ng-click=addProductFilter("Topic")>TOPIC </a>
                            </li>
                            <li ng-class="{'active': active=='flower'}" ng-click="active='flower'">
                                <a href="#category" ng-click=addProductFilter("Flower")>FLOWERS</a>
                            </li>
                            <li ng-class="{'active': active=='accessories'}" ng-click="active='accessories'">
                                <a href="#category" ng-click=addProductFilter("Accessories")>ACCESSORIES</a>
                            </li>
                            <li ng-class="{'active': active=='all'}" ng-click="active='all'">
                                <a href="#category" ng-click=addProductFilter("products")>ALL PRODUCTS</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

            </div>

            <div class="col-md-9">


                <div class="box info-bar">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 products-showing">
                            Showing <strong>{{productFilter.length}}</strong> of
                            <strong>{{productFilter.length}}</strong> products
                        </div>

                        <div class="col-sm-12 col-md-8  products-number-sort">
                            <div class="row">
                                <form class="form-inline">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="products-sort-by">
                                            <strong>Sort by</strong>
                                            <select name="sort-by" class="form-control">
                                                <option>Price</option>
                                                <option>Name</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row products">
                    <div class="text-center" ng-show="productFilter.length==0?true:false">
                        <h3>Sorry, products not available!!!</h3>
                    </div>

                    <div class="col-md-4 col-sm-6" ng-repeat="product in productFilter">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#detail/id={{product._id}}">
                                            <img ng-src="{{product.image}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="#detail/id={{product._id}}">
                                            <img ng-src="{{product.image}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#detail/id={{product._id}}" class="invisible">
                                <img ng-src="{{product.image}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a href="#detail/id={{product._id}}">{{product.name}}</a></h3>
                                <p class="price">{{product.price}} USD</p>
                                <p class="buttons">
                                    <a href="#detail/id={{product._id}}" class="btn btn-default">View detail</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

                <div class="pages">

                    <!--<p class="loadMore">-->
                    <!--<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>-->
                    <!--</p>-->

                    <!--<ul class="pagination">-->
                        <!--<li><a href="#">&laquo;</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->

</div>
<!-- /#all -->


</body>
<script src="resource/js/jquery-1.11.0.min.js"></script>
<script src="resource/js/bootstrap.min.js"></script>
<script src="resource/js/jquery.cookie.js"></script>
<script src="resource/js/waypoints.min.js"></script>
<script src="resource/js/modernizr.js"></script>
<script src="resource/js/bootstrap-hover-dropdown.js"></script>
<script src="resource/js/owl.carousel.min.js"></script>
<script src="resource/js/front.js"></script>