<body>
<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#category">Home</a>
                    </li>

                    <li>{{item.name}}</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li class="active">
                                <a href="#category">TOPIC</a>
                            </li>
                            <li>
                                <a href="#category">FLOWERS</a>
                            </li>
                            <li>
                                <a href="#category">ACCESSORIES</a>
                            </li>
                            <li>
                                <a href="#category">ALL PRODUCTS</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <!-- *** MENUS AND FILTERS END *** -->

            </div>

            <div class="col-md-9">

                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <img ng-src="{{item.image}}" alt="" class="img-responsive">
                        </div>


                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <h1 class="text-center">{{item.name}}</h1>
                            <h4>Description</h4>
                            <ul>
                                <li>{{item.description}}</li>
                            </ul>
                            <!--<p class="text-center">Description: {{item.description}}</p>-->
                            <h4>Product details</h4>
                            <ul>
                                <li>Name: {{item.name}}</li>
                                <li>Quantity product available: {{item.quantity}}</li>
                            </ul>
                            <h4>Price & Status</h4>
                            <ul>
                                <li>Category: {{item.category.name}}</li>
                                <li>Status: {{item.quantity >0?'In stock':'Sold out'}}</li>
                            </ul>

                            <blockquote>
                                <p><em>You can refund in 1 day</em>
                                </p>
                            </blockquote>
                            <p class="price">Price:{{item.price}} USD</p>

                            <p class="text-center buttons">
                                <a href="" class="btn btn-primary" ng-click="addToCart()" id="addBasket"
                                   ng-class="{'disabled':item.quantity<=0?true:false}"><i
                                        class="fa fa-shopping-cart"></i> Add to cart</a>
                            </p>


                        </div>

                    </div>

                </div>

                <div class="row same-height-row">
                    <div class="col-md-3 col-sm-6">
                        <div class="box same-height">
                            <h3>You may also like these products</h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6" ng-repeat="product in products |limitTo:3">
                        <div class="product same-height">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="#detail/id={{product._id}}">
                                            <img ng-src="{{product.image}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a href="#detail/id={{product._id}}">
                                            <img ng-src="{{product.image}}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#detail/id={{product._id}}" class="invisible">
                                <img ng-src="{{product.image}}" alt="" class="img-responsive">
                            </a>
                            <div class="text">
                                <h3><a href="#detail/id={{product._id}}">{{product.name}}</a></h3>
                                <p class="price">{{product.price}} USD</p>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>

                </div>

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


    <!-- *** FOOTER ***
_________________________________________________________ -->
</div>
<!-- /#all -->


</body>